<cdk-virtual-scroll-viewport itemSize="24" class="scroll-viewport">
  <div class="song-list">
    <ng-container *cdkVirtualFor="let item of songs$ | async">
      <div class="song-header" mat-subheader>
        {{ item.dateLabel }}
      </div>
      <ng-container *ngFor="let detail of item.songDetails">
        <div
          class="song-item"
          matRipple
          [class.selected]="(selectedSongTitle$ | async) === detail.title"
          (click)="onClick(detail.title)"
        >
          <div class="song-item-text">{{ detail.title }}</div>
          <mat-icon *ngIf="(selectedSongTitle$ | async) === detail.title"
            >check_small</mat-icon
          >
        </div>
      </ng-container>
      <mat-divider></mat-divider>
    </ng-container>
  </div>
</cdk-virtual-scroll-viewport>
