.card-content {
  display: grid;
  grid-template-columns: 48px minmax(16.25rem, 31.25rem);
  grid-template-rows: 1fr 1fr;
  gap: 0.2rem;
  background-color: rgb(238, 237, 237);
  padding: 1rem;
  border-radius: 5px;

  .album-cover {
    grid-column: 1;
    grid-row: 1 / -1;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(238, 237, 237);
    width: 48px;
    height: 48px;
  }

  .card-title {
    grid-row: 1;
    grid-column: 2 / -1;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .player {
    justify-self: center;
  }
}
