<mat-card class="player-card">
  <mat-card-header class="card-header">
    @if(currentAudio) {
    <mat-card-title>{{ currentAudio.title }}</mat-card-title>
    } @else {
    <mat-card-title>Audio Player</mat-card-title>
    }
  </mat-card-header>
  <mat-card-content>
    <div class="album-cover">
      <label>Album Cover</label>
    </div>
  </mat-card-content>
  <mat-card-footer class="card-footer">
    <audio #player controls>
      @if(currentAudio) {
      <source [src]="currentAudio.audioUrl" type="audio/mpeg" />
      } Your browser does not support the audio element.
    </audio>
  </mat-card-footer>
</mat-card>
