<h1>YouTube Download Client</h1>
<form [formGroup]="downloadForm">
  <label
    >YouTube URL:
    <input formControlName="videoUrl" size="40" />
  </label>
  <button (click)="download()">Download</button> <br />
  <label
    >Video Title:
    <input size="40" formControlName="title" />
  </label>
  <br />
  <label
    >Start At:
    <input size="20" formControlName="startAt" />
  </label>
  <label
    >End At:
    <input size="20" formControlName="endAt" />
  </label>
</form>

<div style="margin-top: 12px; height: 240px; overflow: auto">
  <ng-container *ngFor="let key of progressMessageKeys">
    <label *ngIf="progressMessage.get(key)"
      >{{ progressMessage.get(key)?.message }}
      {{ progressMessage.get(key)?.percentage | percent : "1.2-2" }}</label
    ><br />
  </ng-container>
  <ng-container *ngIf="outputAudioLink">
    <label style="color: green">Download Completed:</label>
    <a [href]="outputAudioLink" target="_blank" download="audio.mp3"
      >Play Audio</a
    >
  </ng-container>
  <label style="color: red" *ngIf="errorMessage">{{ errorMessage }}</label>
</div>
<router-outlet></router-outlet>
