<h1>Youtube Download Client</h1>
<label
  >Youtube URL:
  <input size="40" [value]="videoUrl" (change)="onUrlChange($event)" />
</label>
<button (click)="download()">Download</button> <br />
<label
  >Video Title:
  <input size="40" [value]="videoTitle" (change)="onTitleChange($event)" />
</label>
<div style="margin-top: 12px; height: 240px; overflow: auto">
  <ng-container *ngFor="let key of progressMessageKeys">
    <label *ngIf="progressMessage.get(key)"
      >{{ progressMessage.get(key)?.message }}
      {{ progressMessage.get(key)?.percentage | percent : "1.2-2" }}</label
    ><br />
  </ng-container>
  <ng-container *ngIf="outputAudioLink">
    <label style="color: green">Download Completed:</label>
    <a [href]="outputAudioLink" target="_blank" download="audio.mp3"
      >Play Audio</a
    >
  </ng-container>
  <label *ngIf="status">{{ status }}</label>
</div>
<router-outlet></router-outlet>
