.app-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  .album-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(238, 237, 237);
    width: 128px;
    height: 128px;
  }

  .card-header {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .card-footer {
    display: flex;
    justify-content: center;
  }

  .song-card {
    max-width: 16rem;
    mat-card-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
